{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Artbook - Iniciar sesión </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body class="bg-gray-100">
    <div id="wrapper" class="flex flex-col justify-between h-screen">
        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">
                <div class="flex items-center lg:justify-between justify-around">
                    <a>
                       <b><h1 class="text-red-500" style="font-size: 1.8rem;">ARTBOOK</h1></b>
                    </a>

                    <div class="capitalize font-semibold hidden lg:block my-2 text-center text-sm">
                        <a href="/signup" class="bg-gradient-to-br from-pink-500 py-3 rounded-md shadow text-white text-xl to-red-400 w-10 "> Registrarme </a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
                <h1 class="lg:text-4xl text-xl font-bold  mb-2 ">¡DESCUBRE Y CONECTA CON ARTISTAS DE TODO EL MUNDO!</h1>
                <br>
                <br>
                <h1 class="lg:text-2xl text-xl font-semibold  mb-6"> Iniciar sesión en <strong>ARTBOOK</strong></h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Usuario" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Contraseña" class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800" style="border: 1px solid #d3d5d8 !important;">
                    <div>
                        <style>
                            h5 {color: #c90828}
                        </style>
                        {% for message in messages %}
                        <h5>{{message}}</h5>
                        {% endfor %}
                    </div>
                    <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Acceder</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> ¿No tienes una cuenta? <a href="/signup" class=""> <strong>Crear cuenta en ARTBOOK</strong> </a></p>
                    </div>
                </form>
            </div>
        </div>

        <div class="lg:mb-5 py-3 uk-link-reset">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <p class="capitalize"> © copyright 2023 - ARTBOOK</p>
            </div>
        </div>
    </div>



    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>
</html>